@model First_Forum.Models.Forum_post

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit post</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Author)
    @Html.HiddenFor(model => model.Date)
    @Html.HiddenFor(model => model.Post_id)
    @Html.HiddenFor(model => model.Topic_id)
    @Html.HiddenFor(model => model.Forum_id)

    @if (Model.Post_id == 1)
    {
        <div class="form-group">

            @Html.LabelFor(model => model.Topic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })

            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Topic", "Index", new { id = Model.Topic_id})
</div>
