@model IEnumerable<First_Forum.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("New post", "Create").
</p>
<table class="table">

    @foreach (var item in Model) {
    <table border="0" class="table table-bordered">
        <tr>
            <td rowspan="2">
                @Html.DisplayFor(modelItem => item.Author)
            </td>

            <td >
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
        </tr>
        <tr>
            <td colspan="4" rowspan="2">
                @Html.DisplayFor(modelItem => item.Body)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            @if (ViewBag.Name == item.Author || ViewBag.AdminRole == true)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }

        </tr>

    </table>
    <br />
    <hr/>
        
    }

</table>
