@model IEnumerable<First_Forum.Models.ForumsInfo>

@{
    ViewBag.Title = "Home Page";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Board</th>
                <th>Threads</th>
                <th>Posts</th>
            </tr>
        </thead>
        <tbody id="forums_data">
            @foreach (var item in Model)
            {
                <tr>

                    <td>@Html.DisplayFor(m => item.Id)</td>
                    <td>@Html.DisplayFor(m => item.Board)</td>
                    <td>@Html.DisplayFor(m => item.Threads)</td>
                    <td>@Html.DisplayFor(m => item.Posts)</td>
                    <td>
                        @Html.ActionLink("Edit", "EditForum", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteForum", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <p>
        @Html.ActionLink("Add forum", "AddForum");
    </p>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#td').on('click', 'tbody tr', function () {
                var idx = $(this).children('td:first-child');
                window.location.href = '/Forum/Index/' + idx.text();
            });
        });

    </script>
}
